@import 'core/reset';

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.warning {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 40px;
    color: #be5260;
    padding: 0 20px;
}