@import 'core/reset';
@import 'core/variables';

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;    

    &__card {
        width: 240px;
        border: 3px solid $border;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        padding: 0 20px;
        color: $font2;
        margin: 20px;
        padding-bottom: 10px;
    
        &__image {
            width: 240px;
            height: 290px;
            border-radius: 15px 15px 0 0;
            margin-bottom: 15px;
        }

        &__name {
            color: $font;
        }
    }

    &__button {
        color: $font2;
        border-radius: 15px;
        height: 40px;
        width: 140px;
        background-color: $medium-bg;
        font-family: "Henny Penny", system-ui;
        font-size: 20px;
        border: 3px solid $border;
        cursor: pointer;
    }
}

@media all and (min-width: 760px) {
    .detail {
        &__card {
            width: 680px;
            flex-direction: row;
            align-items: center;
            font-size: 20px;
            gap: 20px;
            padding: 0 10px 0 0;
        
            &__image {
                min-height: 100%;
                width: auto;
                border-radius: 15px 0 0 15px;
                margin: 0;
            }
        }
    }
}