@import 'core/reset';
@import 'core/variables';

.filterSelect {
    width: 300px;
    height: 35px;
    margin-bottom: 10px;
    border: 3px solid $medium;
    border-radius: 15px;
    padding-left: 10px;
    text-align: center;
    background-color: white;
    font-family: "Henny Penny", system-ui;
    color: $font;
    cursor: pointer;
}

@media all and (min-width: 760px) {
  .filterSelect {
    margin-right: 20px;
        width: 350px;
     }
}

@media all and (min-width: 900px) {
  .filterSelect {
        width: 400px;
     }
}

@media all and (min-width: 1100px) {
  .filterSelect {
        width: 500px;
     }
}