@import 'core/reset';

.form {
    display: grid;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center
}

@media all and (min-width: 760px) {
    .form {
        gap: 5px;
        margin: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
     }
}