@import 'core/reset';

.resetButton {
    color: #be5260;
    border-radius: 15px;
    height: 40px;
    width: 140px;
    background-color: #fc9b7b;
    font-family: "Henny Penny", system-ui;
    font-size: 20px;
    border: 3px solid #F96B3C;
    cursor: pointer;
    
}